@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header { 
        padding-top: 238px;

        &__title {
            font-size: 32px;
    }
        &__text {
            font-size: 14px;
            line-height: 22px;
    }

    }
}